
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0967E7;
  text-decoration: none;
  
}

.logo-icon {
  width: 50px;
  height: 50px;
  color: #0063dc;
}

.logo-text {
  font-size: 20px;
  font-weight: 800;
}

@media (max-width: 600px) {
  .logo-text {
    display: none;
  }
}



